@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
a {
  text-decoration: none;
}
.paddingsides {
  padding: 5vw 10vw 0 10vw;
}
header {
  background-image: url(./images/banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 13px 0px;
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fcoln {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fcontainer {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 14vw;
}
#firstdiv {
  display: flex;
  width: 20%;
}
#secdiv {
  display: flex;
  width: 75%;
}
.logo a img {
  height: 65%;
}
.nav a img {
  height: 65%;
}
.nav a {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 15px;
  font-size: 1.09em;
}
.nav a:hover {
  color: #db5660;
}
.scontainer {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
}
.mens_taital {
  width: 100%;
  color: #908d92;
  font-size: 14px;
  margin-left: 35px;
}
.page_no {
  width: 22%;
  font-size: 0.8em;
  text-align: center;
  color: #ffffff;
  border: 1px solid #8d8791;
  border-radius: 30px;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding-bottom: 10px;
  padding-top: 12px;
  margin-left: 35px;
}
.bannertxt {
  font-size: 2em;
  font-weight: 300;
  color: #db5660;
}
.menstxt {
  font-size: 2.7em;
  color: #fdfcfc;
}
.loremtxt {
  font-size: 0.8em;
  color: #fefefe;
}
.taital {
  width: 20%;
}
#rssec {
  width: 45%;
}
.loremsec {
  width: 40%;
  margin-top: 8vh;
  margin-left: -2vw;
}
.runningshoe {
  width: 90%;
}
button {
  padding: 15px 50px;
  background-color: #ff4e5b;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}
.more_bt {
  background-color: white;
  color: #ff4e5b;
  margin-left: 10px;
}
.more_bt:hover {
  background-color: #ff4e5b;
  color: white;
}
.buy_bt:hover {
  background-color: white;
  color: #ff4e5b;
}
.fheader .nav a:hover {
  color: #db5660;
}
h1 {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 1vw;
}
p {
  font-size: 0.9em;
}
.container {
  width: 80%;
  margin-top: 5vh;
  margin-left: 10vw;
  position: relative;
 
}
.new {
  border: 1px none;
  padding: 8px 25px;
  background-color: black;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  top: 7.5vh;
  left: -12vh;
}
.card {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px;
  padding: 2em 3em;
  
}

.card2 {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px;
    padding: 2em 3em;
  }
.card2 {
  background-image: url(./images/about-img2.png);
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  margin-left: -6vw;
  margin-top: 15vh;
}
.card p small {
  display: block;
  border-bottom: 1px solid #000;
  font-size: 16px;
}
.card p b {
  display: block;
  font-size: 16px;
}
.card p {
  font-size: 16px;
  width: 30%;
  text-align: center;
  margin: 1em 0;
}
.card1shoe{
  margin-top: 2em;
  
}
.card2 p small {
    display: block;
    border-bottom: 1px solid #000;
    font-size: 16px;
  }
  .card2 p b {
    display: block;
    font-size: 16px;
  }
  .card2 p {
    font-size: 16px;
    width: 30%;
    text-align: center;
    margin: 1em 0;
  }
.card2shoe{
  margin-top: 2em;
  margin-left: 3em;
}
.seemore_btn {
  color: #ffffff;
  background-color: #ff4e5b;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  padding: 5px 17px;
  position: absolute;
  bottom: 0;
  left: -5vw;
}
/*End of second section*/

.tsection{
  margin-top: 5vh;
}
.racingBoot {
  width: 100%;
  background-color: #eae7e7;
  margin-top: 5vh;
}
.shoe {
  width: 70%;
  padding: 50px 0px;
}
.joging {
  margin-top: -15vh;
}
.joging h1 {
  font-size: 3em;
  font-weight:bolder;
  line-height: 65px;
}
.seemore_jog {
  border: none;
  background-color: #ed2540;
  border-radius: 0;
  font-size: 1em;
}
.grid_container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #ed2540;
  margin-top: 5em;
  padding: 10vh 15vw;
}

.grid_container > div{
  background-color: white ;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid_container .grid_buynow{
  background-color: #ed2540;
  grid-column-start: 1;
  grid-column-end: 4;

}
.gridbuynow {
  background-color: #000;
  border-radius: 0;
}
.grid1 {
  justify-content: space-between;
  padding: 7px;
}
.grid2 {
  justify-content: space-between;
  padding: 7px;
  margin-top: 35px;
}
.grid3 {
  justify-content: space-between;
  padding: 7px;
  margin-top: 120px;
}
.bestshoe {
  font-size: 0.5em;
  margin-bottom: 10px;
}
.amount{
  font-size: 1em;
  color: #ed2540;
}
.formcontainer {
  background-color: #2c2a2a;
  padding: 20px;
}

input, textarea {
  width: 86%;
  margin: 5px;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
}
.divwnjust{
  justify-content: left;
}
.send_btn{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.sendbtn{
  width: 30%;
  background-color: #ed2540;
  color: white;
  padding: 12px;
  border: none;
}
.ourshop {
  width: 60%;
  max-width: 50%;
  height: 80vh;
  background-image: url(./images/shop-banner.png);
  background-position: cover;
}