@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-size: 100%;
    max-width: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
a {
    text-decoration: none;
}
.paddingsides {
    padding: 7vw 7vw 0 8vw
}
header {
    background-image: url(./images/banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 13px 0px;
    width: 100%;
    height:auto;
    
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fcoln{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fcontainer {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 14vw;
}
#firstdiv{
    display: flex;
    width: 20%;
}
#secdiv {
    display: flex;
    width: 75%;
}
.logo a img{
    height: 65%;
}
.nav a img {
    height: 65%;
}
.nav a {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    font-size: 1.09em;
}
.nav a:hover {
    color: #db5660;
}
.scontainer {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}
.mens_taital{
    width: 100%;
    color: #908d92;
    font-size: 14px;
    margin-left: 35px;
}
.page_no{
    width: 22%;
    font-size: 0.8em;
    text-align: center;
    color: #ffffff;
    border: 1px solid #8d8791;
    border-radius: 30px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    padding-bottom: 10px;
    padding-top: 12px;
    margin-left: 35px;
}
.bannertxt {
    font-size: 2em;
    font-weight: 300;
    color: #db5660;
}
.menstxt {
    font-size: 2.7em;
    color: #fdfcfc;
}
.loremtxt {
    font-size: 0.8em;
    color: #fefefe;
    
}
.taital {
    width: 20%;
}
#rssec {
    width: 45%;
}
.loremsec {
    width: 40%;
    margin-top: 8vh;
    margin-left: -2vw;
}
.runningshoe {
    width: 90%;
}
button {
    padding: 15px 50px;
    background-color: #db5660;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}
.more_bt{
    background-color: white;
    color: #ff4e5b;
}
button:hover {
    background-color: white;
    color: darkslategray;
}
.fheader .nav a:hover {
    color: #db5660;
}
h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 1vw;
    
}
p {
    font-size: 1.2em;
}
.aboutsec {
    width: 100%;
}
.about1 {
    width: 40%;
    background-color: #ffffff;
    height: 60vh;
    margin-left: 11vw;
    box-shadow: 0px 0px 10px 0px;
    position: absolute;
    z-index: 1;
     
}
.about2 {
    width: 100%;
    background-image: url(./images/about-img2.png);
    height: 60vh;
    box-shadow: 0px 0px 10px 0px;
    margin-right: 5vw;
    margin-top: 12vh;
}

.shoe_img2 {
    height: 30%;
    position: absolute;
    right: 15vw;
    margin-top: 10vw;   
}
.h3border {
    border: 1px none ;
    padding: 15px 30px;
    background-color: black;
    color: #ffffff;
    margin-top:-0.1vw;
    margin-left: -5vw;
    z-index: 1;
}
.seemore_btn {
    width: 32%;
    height: 50px;
    color: #ffffff;
    background-color: #ff4e5b;
    color: #ffffff;
    font-size: 16pt;
    margin-top: 65vh;
    margin-left: -35vh;
    
}