@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-size: 100%;

}
header section{
    background-image: url(./images/background-bg.png);
}